body {
  font-family: Arial;
  text-align: center;
  background-color: #f4f4f4;
}
h1 {
  color: #333;
}
a {
  text-decoration: none;
  color: #007bff;
  margin: 10px;
}
a:hover {
  text-decoration: underline;
}
